[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
pandas = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.8"
